# gdown
# dvc
# mlflow==2.2.2
# notebook

python-box==6.0.2 
pyYAML
tqdm
joblib
uvicorn

langchain
langchain-openai
langchain_community
langchain-huggingface
unstructured==0.16.11
fastapi==0.115.8
# Required Libraries
# torch
# matplotlib
# seaborn
# pandas 
# scipy
# numpy 

# Data Version Control and Management
# gdown
# dvc
# mlflow==2.2.2
# notebook

# Utilities
python-box==6.0.2 
pyYAML
tqdm
joblib
uvicorn

# AI and NLP
langchain
langchain-openai
langchain_community
langchain-huggingface
unstructured==0.16.11
fastapi==0.115.8
# pydantic
# lxml
pdfminer
pi-heif
unstructured_inference
unstructured[all-docs]
tesseract==0.1.3
pytesseract==0.3.13
watermark
tiktoken

# Databases and Storage
chromadb
langchain-chroma
firebase_admin

# Web Development
streamlit
-e .
pydantic
lxml
pdfminer
pi-heif
unstructured_inference
unstructured[all-docs]
tesseract==0.1.3
pytesseract==0.3.13
watermark
tiktoken

chromadb
langchain-chroma
firebase_admin
langchain-google-firestore
streamlit
-e .
